*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background: url("./../static/bg.jpg"); */
    background-size: cover;
    text-align: center;
}
#myVideo {
    position: fixed;
    /* position: f; */
    /* position:absolute; */
    right: 0;
    bottom: 0;
    /* min-width: 100%; */
    min-height: 100%;
    width: 100%;
    object-fit: cover;
    /* height: auto; */
  }
body .container{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 90vh;
    background-size: cover;
}
.card{
    position: relative;
    width: 420px;
    height: 385px;
    font-size: 1.1rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: 13px 13px 20px rgba(0,0,0,0.45);
    transition: 2s;
}
.card:hover{
    transform: translateX(50%);
}
.card:hover .imgBox{
    transform: rotateY(-180deg);
    box-shadow: 13px 13px 20px rgba(0,0,0,0.45);
}
.details{
    position: absolute; /* now detail-part will be posited relative to its first parent-class div */
    top: 20px;
    left: 0px;
    padding: 5px 25px;
}

.imgBox{
    position: relative;
    z-index: 1;  /* position & z-index will help to hide detail-part */
    width: 100%;
    height: 100%;
    transform-origin: left;
    transition: 2s;
    background: black;
    border-radius: 15px;
    transform-style: preserve-3d;
    opacity: 20;

}
.imgBox img:nth-child(1){
    position: absolute;
    object-fit: cover;
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* transform-style: preserve-3d; */
    backface-visibility: hidden;
    border-radius: 15px;
}
.imgBox img:nth-child(2){
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    transform: rotateY(180deg);
    border-radius: 15px;
}




/* line styles */
h5{                      /* hey */
    text-align: left;
    margin-bottom: 5px;
    font-size: 1rem;
}
h6{                     /* always... */
    font-weight: 100;
    text-align: left;
    margin-left: 4vh;
    font-size: 1.1rem;
}
h2{                         /* from */
    font-size: 1rem;
    text-align: right;
    margin-right: 40px;
    margin-top: 10px;
    font-weight: 100;
}
h3{             /* myname */
    font-size: 1.2rem;
    text-align: right;
    margin-right: 28px;
    margin-top: 5px;
}


.back-button button{
    position:absolute;
    padding: 5px 15px;
    border-radius: 8px;
    animation: 2s all;
    border: 1px solid black;
    left: 49%;
}
.back-button button:hover{
    filter: brightness(1.1);
}


/* wishText */
.wishText{
    color: white;
    position: relative;
    font-size: 2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.blinkWishText{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    animation: 2s blinkAnime infinite;
}
@keyframes blinkAnime {
    0%{
        color: white;
    }
    20%{
        color: rgb(223, 115, 14);
    }
    40%{
        color: rgb(20, 91, 223);
    }
    50%{
        transform: scale(1.2);
    }
    60%{
        color: rgb(235, 231, 12);
    }
    80%{
        color: rgb(6, 206, 6);
    }
    100%{
        color: rgb(233, 116, 233);
    }
}

#cake img{
    height: 250px;
}

#cakeButton{
    position: fixed;
    padding: 8px 25px;
    border-radius: 6px;
    font-family:monospace;
    color: white;
    background-color: rgb(201, 79, 31);
    left: 48%;
}
#cakeButton:hover{
    filter: brightness(1.3);
}
#cutCakeButton{
    position: absolute;
    padding: 8px 25px;
    border-radius: 6px;
    color: white;
    left: 45%;
    background-color: rgb(142, 18, 145);
}
#cutCakeButton:hover{
    filter: brightness(1.3);
}
#cake-pieces img{
    height: 100px;
    width: 100px;
}
#c1,#c2,#c3,#c4,#c5,#c6{
    position: relative;
}

#eatMessage{
    color: brown;
    background-image : linear-gradient(rgb(224, 134, 16),rgb(240, 198, 143),white,rgb(240, 198, 143),rgb(224, 134, 16)) ;
    height: 50px;
    width: 150px;
    border-radius: 15px;
    text-align: center;
    font-family: cursive;
    font-size: 1.1rem;
    padding: 10px 10px;
    transition: transform .20s;
    animation: scaleLeftRight 1s infinite;
    margin-left: 46%;    
}

@keyframes scaleLeftRight{
    50%{
        transform: scale(.95);
        opacity: .75;
    }
}
#eatingFace img{
    height: 100px;
    transform: rotate(40deg);
}

#eatDoneButton{
    position: fixed;
    padding: 8px 25px;
    border-radius: 6px;
    color: white;
    background-color: rgb(9, 105, 9);
    left: 46%;
}
#eatDoneButton:hover{
    filter: brightness(1.3);
}
.giftMessageCard{
    position: absolute;
    color: brown;
    background-image : linear-gradient(rgb(224, 134, 16),rgb(240, 198, 143),white,rgb(240, 198, 143),rgb(224, 134, 16)) ;
    height: 205px;
    width: 200px;
    border-radius: 15px;
    text-align: center;
    font-family: 'MedievalSharp', cursive;
    font-size: 1.2rem;
    padding: 40px 20px;
    line-height: 35px;
    transition: transform .22s;
    animation: scaleLeftRight 1s infinite;
}
@keyframes scaleLeftRight{
    50%{
        transform: scale(.95);
        opacity: .75;
    }
}
#giftButton{
    font-size: 1.1rem;
    padding: 8px 20px;
    border-radius: 12px;
    outline: none;
    transition: transform .22s;
    transition: background-color 2s;
    background-color: green;
    margin-top: 25px;
}
#giftButton:hover{
    filter: brightness(1.2);
    color: blue;
}
#gift-box-close img{
    height: 20rem;
}
#gift-box-open img{
    height: 20rem;
    position: relative;
}

.gift-message{
    padding: 10px 20px;
    border: 1px solid black;
    background-image : linear-gradient(to left top,rgb(194, 194, 194),rgb(211, 211, 211),white,rgba(206, 203, 199, 0.952),rgb(167, 165, 163)) ;
    border-radius: 8px;
    margin-left: 20px;
}
.gift-message:hover small{
    color: red;
    cursor: pointer;
}
.balloons{
    position: absolute;
}
#b1,#b2,#b3,#b4,#b5,#b6,#b7,#b8,#b9,#b10{
    margin-top: 220px;
    height: 100px;
}

figure{
    color: white;
    display: inline-block;
}
figcaption{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}





/* media queries */

/* 1. Wish Card */

@media (min-width:675px) and (max-width:900px) {
    .card{
        width: 300px;
        height: 375px;
        font-size: .98rem;
    }
    h6{                     /* always... */
        margin-left: 1vh;
        font-size: 1rem;
    }
    h2{                         /* from */
        font-size: 1rem;
        margin-right: 45px;
    }
    h3{             /* myname */
        font-size: 1rem;
        margin-right: 35px;
        margin-top: 5px;
    }
    #cutCakeButton{
        left: 42%;
    }
    #cake-pieces img{
        height: 50px;
        width: 50px;
    }
    #eatingFace img{
        height: 80px;
    }
}

@media (min-width:400px) and (max-width:675px) {
   
    .card{
        margin-left: 15px;
        width: 190px;
        height: 280px;
        font-size: .7rem;
    }
    .details{
        top: 20px;
        left: 0px;
        padding: 5px 16px;
    }
    
    h5{                      /* hey */
        margin-bottom: 5px;
        font-size: .6rem;
    }
    p{
        font-size: .6rem;
    }
    h6{                     /* always... */
        margin-left: 1vh;
        font-size: .6rem;
    }
    h2{                         /* from */
        font-size: .6rem;
        margin-right: 20px;
    }
    h3{             /* myname */
        font-size: .7rem;
        margin-right: 14px;
        margin-top: 5px;
    }

    #cutCakeButton{
        left: 37%;
    }
    .wishText{
        font-size: 1.5rem;
    }
    .blinkWishText{
        font-size: 1.4rem;
    }
    #b1,#b2,#b3,#b4,#b5,#b6,#b7,#b8,#b9,#b10{
        height: 55px;
    }
    #cake-pieces img{
        height: 40px;
        width: 40px;
    }
    #eatingFace img{
        height: 70px;
    }
    #eatDoneButton{
        left:39%;
    }
    #gift-box-close img{
        height: 17rem;
    }
    #gift-box-open img{
        height: 17rem;
    }
    .gift-message{
        padding: 10px 10px;
        margin-left: 0px;
        width: 150px;
        font-size: .75rem;
    }
    #eatMessage{
        height: 40px;
        width: 140px;
        font-size: 1rem;
        margin-left: 38%;    
    }
    #cakeButton{
        left: 45%;
    }
}
@media (max-width: 400px) {
   
    .card{
        margin-left: 25px;
        width: 150px;
        height: 265px;
        font-size: .55rem;
        padding-left: 5px;
    }
    p{
        font-size: .55rem;
    }
    h6{                     /* always... */
        margin-left: 1vh;
        font-size: .55rem;
    }
    h2{                         /* from */
        font-size: .54rem;
        margin-right: 12px;
    }
    h3{             /* myname */
        font-size: .6rem;
        margin-right: 8px;
        margin-top: 3px;
    }
    h5{                      /* hey */
        margin-bottom: 5px;
        font-size: .58rem;
    }
    .details{
        top: 20px;
        left: 0px;
        padding: 5px 16px;
    }
    .imgBox img:nth-child(1){
        width: 103%;
        left: -3.5%;
    }
    #cutCakeButton{
        left: 30%;
    }
    .wishText{
        font-size: 1rem;
    }
    .blinkWishText{
        font-size: .9rem;
    }
    #b1,#b2,#b3,#b4,#b5,#b6,#b7,#b8,#b9,#b10{
        height: 30px;
    }
    figcaption{
        font-size: .9rem;
    }
    #cake-pieces img{
        height: 30px;
        width: 30px;
    }
    #eatingFace img{
        height: 50px;
    }
    #eatDoneButton{
        left:33%;
    }
    #gift-box-open img{
        height: 10rem;
    }
    #gift-box-close img{
        height: 13rem;
    }
    #gift-box-open img{
        height: 10rem;
    }
    .gift-message{
        padding: 10px 10px;
        margin-left: 20px;
        width: 120px;
        font-size: .70rem;
    }
    #eatMessage{
        height: 40px;
        width: 140px;
        font-size: 1rem;
        margin-left: 36%;    
    }
    #cakeButton{
        left: 40%;
    }
}